<html>
<head>
<% include partials/head.ejs%>


</head>
<body>
<%include partials/menue.ejs%>
<div class="container" align="center">
<%include partials/headline.ejs%>
<div class="row">
<div class="col-md-12">
<img src="/images/mumbai.jpg" class="img-responsive"  alt="fd"/>
</div>
</div>
</div>


<%include partials/jsinclude.ejs%>

</body>
</html>
